.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 90%;
    padding: var(--space);
    padding: 40px 30px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
    position: relative;
}

@keyframes rotateFa-gear {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotateFa-gear 1s linear infinite;
}